<div class="accessibility_bar">
  <div class="left_section">
    <a href="#navbar" data-key="skipNavigation">Skip to Navigation</a>
    <span>|</span>
    <a href="#notification_bar" data-key="skipContent">Skip to Content</a>
  </div>

  <div class="right_section">
    <div class="fontAdjust">
      <button onclick="decreaseFont()">A-</button>
      <button onclick="increaseFont()">A+</button>
    </div>

    <div class="theme_toggle">
      <button id="theme-btn" onclick="toggleTheme()">🌙</button>
    </div>

    <div class="language_selector">
      <select id="languageSelector" name="Language">
        <option value="en">English</option>
        <option value="hi">हिन्दी</option>
        <option value="mr">मराठी</option>
      </select>
    </div>
  </div>
</div>
