<section class="minutesSection">
  <div class="minutesContainer">
    <div class="minutesHeader">
      <h1 data-key="citizenCharterHeading">Citizen Charter</h1>

      <p data-key="citizenCharterSubtitle">
        Download the official Citizen Charter of Maharashtra Fire & Emergency
        Services.
      </p>
    </div>

    <div class="minutesList">
      <!-- Card -->

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Citizen Charter</h3>

          <span> Marathi </span>
        </div>

        <a
          href="../../assets/docs/citizen-charter/Citizen Charter.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Public service under Right to Service Act, 2015</h3>

          <span> Marathi </span>
        </div>

        <a
          href="../../assets/docs/citizen-charter/Public service under Right to Service Act, 2015.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>
    </div>
  </div>
</section>
