<section class="fireWeekSection">
  <div class="fireWeekContainer">
    <div class="fireWeekHeader">
      <h1 data-key="fireWeekHeading">Fire Week</h1>

      <p data-key="fireWeekSubheading">
        Download official Fire Week documents and browse event photographs.
      </p>
    </div>

    <!-- PDF DOWNLOAD -->

    <div class="downloadCard">
      <div class="downloadLeft">
        <div class="pdfIcon">📄</div>

        <div>
          <h3>Observance of Fire Service Week</h3>

          <p>Marathi</p>
        </div>
      </div>

      <a
        href="../../assets/docs/fire-week/Observance of Fire Service Week 2022.pdf"
        download
        class="downloadBtn"
      >
        Download PDF
      </a>
    </div>

    <!-- ACCORDION -->

    <div class="fireAccordion active">
      <button class="fireAccordionBtn">
        Fire Week 2022

        <span>+</span>
      </button>

      <div class="fireAccordionContent">
        <div class="fireGallery">
          <img src="../../assets/docs/fire-week/330A1239.jpg" />

          <img src="../../assets/docs/fire-week/330A1245.jpg" />

          <img src="../../assets/docs/fire-week/330A1247.jpg" />

          <img src="../../assets/docs/fire-week/330A1261.jpg" />

          <img src="../../assets/docs/fire-week/330A1457.jpg" />

          <img src="../../assets/docs/fire-week/330A1480.jpg" />

          <img src="../../assets/docs/fire-week/330A1536.jpg" />

          <img src="../../assets/docs/fire-week/330A1710.jpg" />

          <img src="../../assets/docs/fire-week/330A1721.jpg" />

          <img src="../../assets/docs/fire-week/330A1810.jpg" />

          <img src="../../assets/docs/fire-week/330A1825.jpg" />

          <img src="../../assets/docs/fire-week/330A1860.jpg" />

          <img src="../../assets/docs/fire-week/330A1878.jpg" />

          <img src="../../assets/docs/fire-week/330A1893.jpg" />

          <img src="../../assets/docs/fire-week/330A1899.jpg" />

          <img src="../../assets/docs/fire-week/330A1969.jpg" />

          <img src="../../assets/docs/fire-week/330A2049.jpg" />

          <img src="../../assets/docs/fire-week/330A2141.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- MODAL -->

<div class="galleryModal">
  <span class="closeModal">&times;</span>

  <button class="prevImage">&#10094;</button>

  <img class="modalImage" />

  <button class="nextImage">&#10095;</button>

  <div class="imageCounter"></div>
</div>
