<section class="newsSection">
  <div class="newsContainer">
    <!-- Header -->

    <div class="newsHeader">
      <h1 data-key="newsHeading">News & Events</h1>

      <p data-key="newsSubtitle">
        Stay updated with the latest announcements, circulars and official
        events from Maharashtra Fire & Emergency Services.
      </p>
    </div>

    <!-- News List -->

    <div class="newsList">
      <!-- Item -->

      <div class="newsCard">
        <div class="newsIcon">📰</div>

        <div class="newsContent">
          <span class="newsBadge"> News </span>

          <h3>Fire in Cold Storage - Nagpur</h3>

          <!-- <p>Published on 9 May 2013</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/FireCallNagpur.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <!-- Item -->

      <div class="newsCard">
        <div class="newsIcon">📰</div>

        <div class="newsContent">
          <span class="newsBadge"> News </span>

          <h3>A major Fire broke out at Latur Road, Barshi</h3>

          <!-- <p>Published on 16 Apr 2026</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/fire_latur_road.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <!-- Item -->

      <div class="newsCard">
        <div class="newsIcon">📰</div>

        <div class="newsContent">
          <span class="newsBadge"> News </span>

          <h3>Fire reported at MSEB SCRAPYARD</h3>

          <!-- <p>Published on 12 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/MSEB_Scrapyard.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <!-- Item -->

      <div class="newsCard">
        <div class="newsIcon">📰</div>

        <div class="newsContent">
          <span class="newsBadge"> News </span>

          <h3>Fire broke out at Al Kabeer</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/Fire_Broke.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <!-- Item -->

      <div class="newsCard">
        <div class="newsIcon">📰</div>

        <div class="newsContent">
          <span class="newsBadge"> News </span>

          <h3>
            A major Fire broke out at Chemspec ,A chemical unit located in
            Taloja MIDC area
          </h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/fireTalojaChemspec.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <div class="newsCard">
        <div class="newsIcon">📰</div>

        <div class="newsContent">
          <span class="newsBadge"> News </span>

          <h3>Brazil nightclub fire kills more than 230 people</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/Braziil_Night_Club_Fire.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <div class="newsCard">
        <div class="newsIcon">📄</div>

        <div class="newsContent">
          <span class="newsBadge"> Notice </span>

          <h3>Article of Maharashtra Fire Service--DNA 15th Aug 2012</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/Fire_Service_Edition_DNA_on_15th_August_2012.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <div class="newsCard">
        <div class="newsIcon">📢</div>

        <div class="newsContent">
          <span class="newsBadge"> Event </span>

          <h3>Workshop for License Agency on 7th July 2012 at MFS</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/45-Workshop_on_7.7.20120001.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <div class="newsCard">
        <div class="newsIcon">📰</div>

        <div class="newsContent">
          <span class="newsBadge"> News </span>

          <h3>Fire at Indo Rama-Nagpur</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/Fire_Call_Cutting_26Apr.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <div class="newsCard">
        <div class="newsIcon">🎉</div>

        <div class="newsContent">
          <span class="newsBadge"> Event </span>

          <h3>Mumbai Fire Brigade - Glorious 125 Years</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/MFB-125_Yrs.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <div class="newsCard">
        <div class="newsIcon">📰</div>

        <div class="newsContent">
          <span class="newsBadge"> News </span>

          <h3>Fire in Bhiwandi Chemical Godown</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/bhiwandi_fire.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <div class="newsCard">
        <div class="newsIcon">📢</div>

        <div class="newsContent">
          <span class="newsBadge"> Event </span>

          <h3>Recruitments in Kalyan Dombivali - Fire Department</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/kdmc.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <div class="newsCard">
        <div class="newsIcon">📢</div>

        <div class="newsContent">
          <span class="newsBadge"> Event </span>

          <h3>Recruitment in Civil Defence - Fire Department</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/civil_defence_recruitment.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <div class="newsCard">
        <div class="newsIcon">📢</div>

        <div class="newsContent">
          <span class="newsBadge"> Event </span>

          <h3>Recruitment in Pimpri Chinchwad - Fire Department</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/pimpri_chinchwad.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>

      <div class="newsCard">
        <div class="newsIcon">📄</div>

        <div class="newsContent">
          <span class="newsBadge"> Notice </span>

          <h3>
            Advertisement for Sub Fire Officer & Nominated Fire Officer Course
          </h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/advt_SO_nominated_officer_course.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>
      `

      <div class="newsCard">
        <div class="newsIcon">📰</div>

        <div class="newsContent">
          <span class="newsBadge"> News </span>

          <h3>Fire in Morarjee, Nagpur</h3>

          <!-- <p>Published on 14 April 2025</p> -->
        </div>

        <a
          href="../../assets/docs/news-events/morarjee_textiles.pdf"
          class="newsBtn"
          download
        >
          View PDF
        </a>
      </div>
    </div>
  </div>
</section>
