<div id="firstBanner">
  <div class="leftLogo">
    <img
      class="mainBannerLogo"
      id="logo1"
      src="../assets/logos/Maha Flag.svg"
      alt="Maha Fire Services Logo"
    />
  </div>
  <div class="centerContent">
    <img
      id="logo2"
      class="mainBannerLogo"
      src="../assets/logos/Azaadi Logo.png"
      alt=""
    />
    <div class="content">
      <h2>Government of Maharashtra</h2>
      <h1>Maharashtra Fire & Emergency Services</h1>
    </div>
  </div>
  <div class="rightLogo">
    <img
      id="logo3"
      class="mainBannerLogo"
      src="../assets/logos/MFS.svg"
      alt="Maha Fire Services Logo"
    />
  </div>
</div>
