<section class="earthquakeSection">
  <div class="earthquakeContainer">
    <div class="earthquakeHeader">
      <h1 data-key="earthquakeHeading">Flood Preparedness</h1>

      <p>
        Learn the essential precautions that help protect your family before an
        flood occurs.
      </p>
    </div>

    <!-- Card 1 -->

    <div class="earthquakeCard">
      <h2>How to prepare for a flood</h2>

      <ul>
        <li>
          Avoid building in flood prone areas unless you elevate and reinforce
          your home.
        </li>

        <li>
          Elevate the furnace, water heater, and electric panel if susceptible
          to flooding.
        </li>

        <li>
          Install "Check Valves" in sewer traps to prevent floodwater from
          backing up into the drains of your home.
        </li>

        <li>
          Contact community officials to find out if they are planning to
          construct barriers (levees, beams and floodwalls) to stop floodwater
          from entering the homes in your area.
        </li>
      </ul>
    </div>

    <!-- Card 2 -->

    <div class="earthquakeCard">
      <h2>If a flood is likely to hit your area</h2>

      <ul>
        <li>Listen to the radio or television for information.</li>

        <li>
          Be aware that flash flooding can occur. If there is any possibility of
          a flash flood, move immediately to higher ground. Do not wait for
          instructions to move.
        </li>

        <li>
          Be aware of streams, drainage channels, canyons, and other areas known
          to flood suddenly. Flash floods can occur in these areas with or
          without such typical warnings as rain clouds or heavy rain.
        </li>
      </ul>
    </div>

    <!-- Card 3 -->

    <div class="earthquakeCard">
      <h2>If you must prepare to evacuate</h2>

      <ul>
        <li>
          Secure your home. If you have time, bring in outdoor furniture. Move
          essential items to an upper floor.
        </li>

        <li>
          Turn off utilities at the main switches or valves if instructed to do
          so. Disconnect electrical appliances. Do not touch electrical
          equipment if you are wet or standing in water.
        </li>
      </ul>
    </div>

    <!-- Card 4 -->

    <div class="earthquakeCard">
      <h2>If you have to leave your home</h2>

      <ul>
        <li>
          Do not walk through moving water. Six inches of moving water can make
          you fall. If you have to walk in water, walk where the water is not
          moving. Use a stick to check the firmness of the ground in front of
          you.
        </li>

        <li>
          Do not drive into flooded areas. If floodwaters rise around your car,
          abandon the car and move to higher ground if you can do so safely. You
          and the vehicle can be quickly swept away.
        </li>
      </ul>
    </div>

    <!-- Card 5 -->

    <div class="earthquakeCard">
      <h2>What to Do During an Earthquake</h2>

      <ul>
        <li>
          Stay as safe as possible during an earthquake. Be aware that some
          earthquakes are actually foreshocks and a larger earthquake might
          occur. Minimize your movements to a few steps that reach a nearby safe
          place and stay indoors until the shaking has stopped and you are sure
          exiting is safe.
        </li>
      </ul>
    </div>

    <!-- Card 6 -->

    <div class="earthquakeCard">
      <h2>If Indoors</h2>

      <ul>
        <li>
          DROP to the ground; take COVER by getting under a sturdy table or
          other piece of furniture; and HOLD ON until the shaking stops. If
          there is no a table or desk near you, cover your face and head with
          your arms and crouch in an inside corner of the building.
        </li>

        <li>
          Protect yourself by staying under the lintel of an inner door, in the
          corner of a room, under a table or even under a bed.
        </li>

        <li>
          Stay away from glass, windows, outside doors and walls, and anything
          that could fall, (such as lighting fixtures or furniture).
        </li>
      </ul>
    </div>

    <!-- Card 7 -->

    <div class="earthquakeCard">
      <h2>If Outdoors</h2>

      <ul>
        <li>
          Do not move from where you are. However, move away from buildings,
          trees, streetlights, and utility wires.
        </li>

        <li>
          If you are in open space, stay there until the shaking stops. The
          greatest danger exists directly outside buildings; at exits; and
          alongside exterior walls. Most earthquake-related casualties result
          from collapsing walls, flying glass, and falling objects.
        </li>
      </ul>
    </div>

    <!-- Card 8 -->

    <div class="earthquakeCard">
      <h2>If in a moving vehicle</h2>

      <ul>
        <li>
          Stop as quickly as safety permits and stay in the vehicle. Avoid
          stopping near or under buildings, trees, overpasses, and utility
          wires.
        </li>

        <li>
          Proceed cautiously once the earthquake has stopped. Avoid roads,
          bridges, or ramps that might have been damaged by the earthquake.
        </li>
      </ul>
    </div>

    <div class="earthquakeCard">
      <h2>If trapped under debris</h2>

      <ul>
        <li>Do not light a match.</li>

        <li>Do not move about or kick up dust.</li>

        <li>Cover your mouth with a handkerchief or clothing.</li>
      </ul>
    </div>
  </div>
</section>
