<section class="earthquakeSection">
  <div class="earthquakeContainer">
    <div class="earthquakeHeader">
      <h1 data-key="floodHeading">Flood Preparedness</h1>

      <p data-key="floodSubtitle">
        Learn the essential precautions that help protect your family before an
        flood occurs.
      </p>
    </div>

    <!-- Card 1 -->

    <div class="earthquakeCard">
      <h2 data-key="prepareForFlood">How to prepare for a flood</h2>

      <ul>
        <li data-key="prepareForFloodText1">
          Avoid building in flood prone areas unless you elevate and reinforce
          your home.
        </li>

        <li data-key="prepareForFloodText2">
          Elevate the furnace, water heater, and electric panel if susceptible
          to flooding.
        </li>

        <li data-key="prepareForFloodText3">
          Install "Check Valves" in sewer traps to prevent floodwater from
          backing up into the drains of your home.
        </li>

        <li data-key="prepareForFloodText4">
          Contact community officials to find out if they are planning to
          construct barriers (levees, beams and floodwalls) to stop floodwater
          from entering the homes in your area.
        </li>
      </ul>
    </div>

    <!-- Card 2 -->

    <div class="earthquakeCard">
      <h2 data-key="prepareForFloodCard2">
        If a flood is likely to hit your area
      </h2>

      <ul>
        <li data-key="prepareForFloodCard2Text1">
          Listen to the radio or television for information.
        </li>

        <li data-key="prepareForFloodCard2Text2">
          Be aware that flash flooding can occur. If there is any possibility of
          a flash flood, move immediately to higher ground. Do not wait for
          instructions to move.
        </li>

        <li data-key="prepareForFloodCard2Text3">
          Be aware of streams, drainage channels, canyons, and other areas known
          to flood suddenly. Flash floods can occur in these areas with or
          without such typical warnings as rain clouds or heavy rain.
        </li>
      </ul>
    </div>

    <!-- Card 3 -->

    <div class="earthquakeCard">
      <h2 data-key="prepareForFloodCard3">If you must prepare to evacuate</h2>

      <ul>
        <li data-key="prepareForFloodCard3Text1">
          Secure your home. If you have time, bring in outdoor furniture. Move
          essential items to an upper floor.
        </li>

        <li data-key="prepareForFloodCard3Text2">
          Turn off utilities at the main switches or valves if instructed to do
          so. Disconnect electrical appliances. Do not touch electrical
          equipment if you are wet or standing in water.
        </li>
      </ul>
    </div>

    <!-- Card 4 -->

    <div class="earthquakeCard">
      <h2 data-key="prepareForFloodCard4">If you have to leave your home</h2>

      <ul>
        <li data-key="prepareForFloodCard4Text1">
          Do not walk through moving water. Six inches of moving water can make
          you fall. If you have to walk in water, walk where the water is not
          moving. Use a stick to check the firmness of the ground in front of
          you.
        </li>

        <li data-key="prepareForFloodCard4Text2">
          Do not drive into flooded areas. If floodwaters rise around your car,
          abandon the car and move to higher ground if you can do so safely. You
          and the vehicle can be quickly swept away.
        </li>
      </ul>
    </div>
  </div>
</section>
