<!-- ========================= -->
<!-- ===== MEDIA GALLERY ===== -->
<!-- ========================= -->

<section class="mediaGallery">
  <!-- TOP BAR -->

  <div class="galleryTop">
    <div class="galleryHeading">
      <h2>Media Gallery</h2>
    </div>

    <div class="galleryControls">
      <!-- <button class="seeAllBtn">See All</button> -->

      <button class="galleryArrow leftArrow">&#10094;</button>

      <button class="galleryArrow rightArrow">&#10095;</button>
    </div>
  </div>

  <!-- GALLERY -->

  <div class="galleryWrapper">
    <div class="galleryTrack">
      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1239.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1239.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1245.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1245.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1247.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1247.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1261.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1261.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1457.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1457.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1480.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1480.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1536.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1536.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1710.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1710.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1721.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1721.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1810.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1810.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1825.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1825.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1860.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1860.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1878.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1878.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1893.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1893.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1899.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1899.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A1969.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A1969.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A2049.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A2049.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/330A2141.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/330A2141.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/img_01.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/img_01.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/img_02.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/img_02.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/img_03.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/img_03.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/img_04.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/img_04.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/img_05.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/img_05.jpg"
        >
          <span>View Image</span>
        </div>
      </div>

      <!-- IMAGE CARD -->

      <div class="galleryCard imageCard">
        <img src="../assets/images/gallery-section/img_06.jpg" alt="" />

        <div
          class="galleryOverlay viewImage"
          data-image="../assets/images/gallery-section/img_06.jpg"
        >
          <span>View Image</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ========================= -->
<!-- ===== IMAGE MODAL ====== -->
<!-- ========================= -->

<div class="imageModal">
  <span class="closeImageModal"> &times; </span>

  <img class="modalImage" src="" alt="" />
</div>

<!-- ========================= -->
<!-- ===== VIDEO MODAL ====== -->
<!-- ========================= -->

<div class="videoModal">
  <span class="closeVideoModal"> &times; </span>

  <video class="modalVideo" controls autoplay>
    <source src="" type="video/mp4" />
  </video>
</div>
