<!-- gallery_fire_engines_comp.html -->
<section class="gallerySection">
  <div class="galleryContainer">
    <div class="galleryHeader">
      <h1 data-key="fireEnginesHeading">Fire Engines</h1>
      <p data-key="fireEnginesSubheading">
        Explore the fleet of Maharashtra Fire & Emergency Services.
      </p>
    </div>

    <div class="accordion active">
      <button data-key="fireEnginesNew" class="accordionBtn">
        Fire Engines (New)<span>+</span>
      </button>
      <div class="accordionContent">
        <div class="imageGrid">
          <img
            src="../../assets/docs/fire-engines/engine_new_1.jpg"
            alt="New Engine 1"
          />
          <img
            src="../../assets/docs/fire-engines/engine_new_2.jpg"
            alt="New Engine 2"
          />
          <img
            src="../../assets/docs/fire-engines/engine_new_3.jpg"
            alt="New Engine 3"
          />
        </div>
      </div>
    </div>

    <div class="accordion">
      <button data-key="fireEnginesOld" class="accordionBtn">
        Fire Engines (Old)<span>+</span>
      </button>
      <div class="accordionContent">
        <div class="imageGrid">
          <img
            src="../../assets/docs/fire-engines/engine_old_2.jpg"
            alt="Old Engine 1"
          />
          <img
            src="../../assets/docs/fire-engines/engine_old_3.jpg"
            alt="Old Engine 2"
          />
          <img
            src="../../assets/docs/fire-engines/engine_old_4.jpg"
            alt="Old Engine 3"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="galleryModal">
    <span class="closeModal">&times;</span>
    <button class="prevImage">&#10094;</button>
    <img class="modalImage" />
    <button class="nextImage">&#10095;</button>
    <div class="imageCounter"></div>
  </div>
</section>
