<section class="heroSlider">
  <div class="heroSlides">
    <div class="heroSlide active">
      <iframe
        width="100%"
        height="100%"
        src="https://youtu.be/K06pkY3oe-U?si=2C3-l6_Zvn5HIymx"
        title="Hero Video"
        frameborder="0"
        allow="
          accelerometer;
          autoplay;
          clipboard-write;
          encrypted-media;
          gyroscope;
          picture-in-picture;
        "
        allowfullscreen
      >
      </iframe>
    </div>

    <div class="heroSlide">
      <img
        src="../../assets/images/hero-slider/fire week-02.jpg"
        alt="Firefighters"
      />
    </div>

    <div class="heroSlide">
      <img
        src="../../assets/images/hero-slider/fire week-03.jpg"
        alt="Emergency Service"
      />
    </div>

    <div class="heroSlide">
      <img
        src="../../assets/images/hero-slider/fire week-04.jpg"
        alt="Emergency Service"
      />
    </div>

    <div class="heroSlide">
      <img
        src="../../assets/images/hero-slider/fire week-05.jpg"
        alt="Emergency Service"
      />
    </div>

    <div class="heroSlide">
      <img
        src="../../assets/images/hero-slider/fire week-06.jpg"
        alt="Emergency Service"
      />
    </div>

    <div class="heroSlide">
      <img
        src="../../assets/images/hero-slider/fire week-07.jpg"
        alt="Emergency Service"
      />
    </div>

    <div class="heroSlide">
      <img
        src="../../assets/images/hero-slider/MFS-NEW-01.jpg"
        alt="Emergency Service"
      />
    </div>

    <div class="heroSlide">
      <img
        src="../../assets/images/hero-slider/Fire Service week-02-2025.jpg"
        alt="Emergency Service"
      />
    </div>

    <div class="heroSlide">
      <img
        src="../../assets/images/hero-slider/Fire week-01 (1).jpg"
        alt="Emergency Service"
      />
    </div>
  </div>

  <button class="heroPrev">&#10094;</button>

  <button class="heroNext">&#10095;</button>

  <div class="heroDots"></div>
</section>
