<section class="key-persons">
  <div class="container">
    <h2 class="section-title">Key Persons</h2>

    <div class="kp-row">
      <!-- Card -->
      <div class="kp-card">
        <div class="kp-img">
          <img
            src="../../assets/images/protocol/CM Devendra Fadnavis - 2.png"
            alt="Person"
          />
        </div>
        <h3 class="kp-name">Shri. Devendra Fadnavis</h3>
        <p class="kp-designation">Hon. Chief Minister</p>
        <p class="kp-dept">Govt. of Maharashtra</p>
      </div>

      <!-- Card -->
      <div class="kp-card">
        <div class="kp-img">
          <img
            src="../../assets/images/protocol/Shri. Eknath Shinde 2.png"
            alt="Person"
          />
        </div>
        <h3 class="kp-name">Shri. Eknath Shinde</h3>
        <p class="kp-designation">Hon. Deputy Chief Minister</p>
        <p class="kp-dept">Govt. of Maharashtra</p>
      </div>

      <!-- Card -->
      <div class="kp-card">
        <div class="kp-img">
          <img
            src="../../assets/images/protocol/Smt. Madhuri Satish Misal.png"
            alt="Person"
          />
        </div>
        <h3 class="kp-name">Smt. Madhuri Satish Misal</h3>
        <p class="kp-designation">Hon. Minister</p>
        <p class="kp-dept">MoS Urban Development</p>
      </div>

      <!-- Card -->
      <div class="kp-card">
        <div class="kp-img">
          <img
            src="../../assets/images/protocol/Shri. K H Govinda Raj.png"
            alt="Person"
          />
        </div>
        <h3 class="kp-name">Shri. K H Govinda Raj</h3>
        <p class="kp-designation">Hon. Addl. Chief Secretary</p>
        <p class="kp-dept">Urban Development Department</p>
      </div>

      <!-- Card -->
      <div class="kp-card">
        <div class="kp-img">
          <img
            src="../../assets/images/protocol/Shri. Santosh Warick 2.png"
            alt="Person"
          />
        </div>
        <h3 class="kp-name">Shri. Santosh Warick</h3>
        <p class="kp-designation">Hon. Director</p>
        <p class="kp-dept">Maharashtra Fire & Emergency Services</p>
      </div>
    </div>
  </div>
</section>
