<section class="documents-section">
  <div class="documents-container">
    <div class="documents-header">
      <h1>List of License Agencies</h1>

      <p>Browse and download official documents.</p>
    </div>

    <!-- Toolbar -->

    <div class="documents-toolbar">
      <input
        type="text"
        id="searchDocuments"
        placeholder="Search documents..."
      />

      <select id="sortDocuments">
        <option value="latest">Latest First</option>

        <option value="oldest">Oldest First</option>
      </select>
    </div>

    <!-- First Section -->

    <div class="document-group">
      <h2 class="group-title">Documents</h2>

      <div class="documents-list" id="schemeDocuments"></div>
    </div>

    <!-- Second Section -->

    <div class="document-group">
      <!-- <h2 class="group-title">Millennium City Mitigation Plan</h2> -->

      <div class="documents-list" id="dprDocuments"></div>
    </div>
  </div>
</section>
