<nav class="navbar">
  <div class="nav-container">
    <button class="menu-toggle" id="menuToggle">☰</button>

    <ul class="nav-menu" id="navMenu">
      <li>
        <a href="#" class="nav-link active">
          <span data-key="home">Home</span>
        </a>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="about">Directorate ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="#">
              <span data-key="organization">About MFS ▸</span>
            </a>

            <ul class="dropdown-sub-menu">
              <li><a href="#">History of Fire Services</a></li>
            </ul>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="leadership">Role of Fire Services ▸</span>
            </a>

            <ul class="dropdown-sub-menu">
              <li><a href="#">Training</a></li>
            </ul>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="leadership">Implementation of Schemes</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="leadership">Mitigation Plans</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="leadership">Awareness</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="citizenServices">Fire Acts, Rule & NBC ▸</span>
            </a>

            <ul class="dropdown-sub-menu">
              <li><a href="#">Maha Fire Acts, Rule & NBC</a></li>

              <li><a href="#">Gas & Cylinder Rules</a></li>

              <li><a href="#">National Disaster Mgmt Act</a></li>

              <li><a href="#">Explosives Acts</a></li>
            </ul>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="leadership">Notification</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="leadership">SFAC</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="leadership">Fire Station Drawing</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="services"> Academic ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="#">
              <span data-key="citizenServices">List of various courses</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="citizenServices">Current Batch</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="citizenServices">Prospectus</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="citizenServices">Results</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="fireSafety">Online Services ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="#">Provisional Approval</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="fireSafety">Welfare Association ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="#">Welfare Association</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Membership forms</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Membership list</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Members of managing committee</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Minutes of meeting</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Welfare Schemes</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Welfare Events</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Scholarship Form</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Medical Assistance Form</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="fireSafety">Gallery ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="#">Fire Engines</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Fire Call Photos</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Fire Week</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Seminars & Events</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="fireSafety">News & Events ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="#">Fire Events</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="fireSafety">Contact ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="#">Contact Us</a>
          </li>

          <li class="dropdown-sub">
            <a href="#">Feedback</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="nav-search">
      <input type="text" placeholder="Search..." />
    </div>
  </div>
</nav>
