<nav class="navbar">
  ```
  <div class="nav-container">
    <button class="menu-toggle" id="menuToggle">☰</button>

    <ul class="nav-menu" id="navMenu">
      <li>
        <a href="#" class="nav-link active">
          <span data-key="home">Home</span>
        </a>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="about">Directorate ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="#">
              <span data-key="organization">Overview ▸</span>
            </a>

            <ul class="dropdown-sub-menu">
              <li><a href="#">Rules</a></li>

              <li><a href="#">Audits</a></li>

              <li><a href="#">Compliance</a></li>
            </ul>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="leadership">Plans & Initiatives ▸</span>
            </a>

            <ul class="dropdown-sub-menu">
              <li><a href="#">Rules</a></li>

              <li><a href="#">Audits</a></li>

              <li><a href="#">Compliance</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="services">Services ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="#">
              <span data-key="citizenServices">Citizen Services</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="onlineApplications">Online Applications</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="fireSafety">Fire Safety ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="#">
              <span data-key="guidelines">Guidelines</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#"> High Rise Buildings </a>

            <ul class="dropdown-sub-menu">
              <li><a href="#">Rules</a></li>

              <li><a href="#">Audits</a></li>

              <li><a href="#">Compliance</a></li>
            </ul>
          </li>

          <li class="dropdown-sub">
            <a href="#"> High Rise Buildings </a>

            <ul class="dropdown-sub-menu">
              <li><a href="#">Rules</a></li>

              <li><a href="#">Audits</a></li>

              <li><a href="#">Compliance</a></li>
            </ul>
          </li>

          <li class="dropdown-sub">
            <a href="#"> Training </a>

            <ul class="dropdown-sub-menu">
              <li><a href="#">Rules</a></li>

              <li><a href="#">Audits</a></li>

              <li><a href="#">Compliance</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" class="nav-link">
          <span data-key="recruitment">Recruitment ▾</span>
        </a>
      </li>

      <li>
        <a href="#" class="nav-link">
          <span data-key="tenders">Tenders ▾</span>
        </a>
      </li>

      <li>
        <a href="#" class="nav-link">
          <span data-key="news">News ▾</span>
        </a>
      </li>

      <li>
        <a href="#" class="nav-link">
          <span data-key="contact">Contact ▾</span>
        </a>
      </li>
    </ul>

    <div class="nav-search">
      <input type="text" placeholder="Search..." />
    </div>
  </div>
  ```
</nav>
