<nav class="navbar">
  <div class="nav-container">
    <button class="menu-toggle" id="menuToggle">☰</button>

    <ul class="nav-menu" id="navMenu">
      <li>
        <a href="index.html" class="nav-link active">
          <span data-key="home">Home</span>
        </a>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="about">Directorate ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="#">
              <span data-key="organization">About MFS ▸</span>
            </a>

            <ul class="dropdown-sub-menu">
              <li>
                <a data-key="historyFireServices" href="about-history.html"
                  >History of Fire Services</a
                >
              </li>
            </ul>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="roleFireServices">Role of Fire Services ▸</span>
            </a>

            <ul class="dropdown-sub-menu">
              <li>
                <a data-key="training" href="role-training.html">Training</a>
              </li>
            </ul>
          </li>

          <li class="dropdown-sub">
            <a href="imp-scheme.html">
              <span data-key="implementationSchemes"
                >Implementation of Schemes</span
              >
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="mitigation-plans.html">
              <span data-key="mitigationPlans">Mitigation Plans</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="directorate-awareness.html">
              <span data-key="awareness">Awareness</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="#">
              <span data-key="fireActsMenu">Fire Acts, Rule & NBC ▸</span>
            </a>

            <ul class="dropdown-sub-menu">
              <li>
                <a data-key="fireActs" href="fire-act.html"
                  >Maha Fire Acts, Rule & NBC</a
                >
              </li>

              <li>
                <a data-key="gasCylinderRules" href="gas-cylinder-rules.html"
                  >Gas & Cylinder Rules</a
                >
              </li>

              <li>
                <a
                  data-key="nationalDisasterMgmtAct"
                  href="national-disaster-mgmt-act.html"
                  >National Disaster Mgmt Act</a
                >
              </li>

              <li>
                <a data-key="explosivesActs" href="explosives-act.html"
                  >Explosives Acts</a
                >
              </li>
            </ul>
          </li>

          <li class="dropdown-sub">
            <a href="directorate-notification.html">
              <span data-key="notification">Notification</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="SFAC.html">
              <span data-key="sfac">SFAC</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="fire-station-drawing.html">
              <span data-key="fireStationDrawing">Fire Station Drawing</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="academic"> Academic ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="academic-courses.html">
              <span data-key="courses">List of various courses</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="current_batch.html">
              <span data-key="currentBatch">Current Batch</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="prospectus.html">
              <span data-key="prospectus">Prospectus</span>
            </a>
          </li>

          <li class="dropdown-sub">
            <a href="results.html">
              <span data-key="results">Results</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="onlineServices">Online Services ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a href="services_provisional_approval.html">
              <span data-key="provisionalApproval">Provisional Approval</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="welfareMenu">Welfare Association ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a
              data-key="welfareAssociation"
              href="about-welfare-association.html"
              >Welfare Association</a
            >
          </li>

          <li class="dropdown-sub">
            <a data-key="membershipForms" href="membership-form.html"
              >Membership forms</a
            >
          </li>

          <li class="dropdown-sub">
            <a data-key="membershipList" href="membership-list.html"
              >Membership list</a
            >
          </li>

          <li class="dropdown-sub">
            <a
              data-key="membersManagingCommittee"
              href="members-managing-committee.html"
              >Members of managing committee</a
            >
          </li>

          <li class="dropdown-sub">
            <a data-key="minutesOfMeeting" href="welfare_mom.html"
              >Minutes of meeting</a
            >
          </li>

          <li class="dropdown-sub">
            <a data-key="welfareSchemes" href="welfare-schemes.html"
              >Welfare Schemes</a
            >
          </li>

          <li class="dropdown-sub">
            <a data-key="welfareEvents" href="welfare-events.html"
              >Welfare Events</a
            >
          </li>

          <li class="dropdown-sub">
            <a data-key="scholarshipForm" href="scholarship-form.html"
              >Scholarship Form</a
            >
          </li>

          <li class="dropdown-sub">
            <a data-key="medicalAssistanceForm" href="medical-form.html"
              >Medical Assistance Form</a
            >
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="gallery">Gallery ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a data-key="fireEngines" href="gallery-fire-engines.html"
              >Fire Engines</a
            >
          </li>

          <li class="dropdown-sub">
            <a data-key="fireCallPhotos" href="fire-call-photos.html"
              >Fire Call Photos</a
            >
          </li>

          <li class="dropdown-sub">
            <a data-key="fireWeek" href="fire-week-photos.html">Fire Week</a>
          </li>

          <li class="dropdown-sub">
            <a data-key="seminarEvents" href="seminar-events.html"
              >Seminars & Events</a
            >
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="newsEvents">News & Events ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a data-key="fireEvents" href="fire-events.html">Fire Events</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link">
          <span data-key="contact">Contact ▾</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-sub">
            <a data-key="contactUs" href="contact-us.html">Contact Us</a>
          </li>

          <li class="dropdown-sub">
            <a data-key="feedback" href="#" id="feedbackLink">Feedback</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="nav-search">
      <input type="text" placeholder="Search..." />
    </div>
  </div>
</nav>
