<section class="notification_bar">
  <!-- Left Label -->

  <div class="notification_label">
    <span data-key="notifications">Notifications</span>

    <div class="divider"></div>
  </div>

  <!-- Marquee -->

  <div class="notification_marquee">
    <div class="notification_track" id="notificationTrack">
      <a
        href="https://mfsacademia.com/"
        data-key="notification1"
        target="_blank"
      >
        "Admissions for fireman and sub officer course-2027". Click here
      </a>

      <a
        href="../../assets/docs/notification-bar/List of Selected Candidates for Fireman's Course-July-2026 Batch.pdf"
        data-key="notification2"
        target="_blank"
      >
        "List of Selected Candidates for Fireman's Course-July-2026 Batch".
        Click here
      </a>

      <a
        href="../../assets/docs/notification-bar/2nd List of Selected Candidates for Sub Officer Course No.12-July-2026 Batch.pdf"
        data-key="notification3"
        target="_blank"
      >
        "2nd List of Selected Candidates for Sub Officer Course No.12-July-2026
        Batch".Click here
      </a>
    </div>
  </div>
</section>
