<section class="policySection">
  <div class="policyContainer">
    <div class="policyHeader">
      <h1 data-key="policyHeading">Privacy Policy</h1>
    </div>

    <div class="policyCard">
      <p data-key="policyContent">
        We do not object to you linking directly to the information that is
        hosted on our site and no prior permission is required for the same.
        However, we would like you to inform us about any links provided to our
        site so that you can be informed of any changes or updations therein.
        Also, we do not permit our pages to be loaded into frames on your site.
        Our Department pages must load into a newly opened browser window of the
        user.

        <br /><br />
      </p>
    </div>
  </div>
</section>
