<section class="quickLinksSection">
  <div class="quickLinksContainer">
    <div class="quickLinksHeader">
      <h2 data-key="quickLinks">Quick Links</h2>

      <p data-key="quickLinksDescription">
        Frequently accessed information and important resources.
      </p>
    </div>

    <div class="quickLinksGrid">
      <a href="../fire-auditors-list.html" class="quickLinkCard">
        <div class="quickIcon">📋</div>
        <span data-key="applicationFireAuditor"
          >Application for Fire Auditor</span
        >
      </a>

      <a href="../circular-orders.html" class="quickLinkCard">
        <div class="quickIcon">📑</div>
        <span data-key="circularOfficeOrders">Circular & Office Orders</span>
      </a>

      <a href="../citizen-charter.html" class="quickLinkCard">
        <div class="quickIcon">👥</div>
        <span data-key="citizenCharter">Citizen Charter</span>
      </a>

      <a href="../govt-resolutions.html" class="quickLinkCard">
        <div class="quickIcon">🏛️</div>
        <span data-key="governmentResolution">Government Resolution</span>
      </a>

      <a href="../general-guidelines.html" class="quickLinkCard">
        <div class="quickIcon">📘</div>
        <span data-key="generalGuidelines">General Guidelines</span>
      </a>

      <a href="../list-license-agencies.html" class="quickLinkCard">
        <div class="quickIcon">🪪</div>
        <span data-key="listLicenseAgencies">List of License Agencies</span>
      </a>

      <a href="../medal-recipients.html" class="quickLinkCard">
        <div class="quickIcon">🏅</div>
        <span data-key="medalRecipients">Medal Recipients</span>
      </a>

      <a href="../directorate-notification.html" class="quickLinkCard">
        <div class="quickIcon">🔔</div>
        <span data-key="notifications">Notifications</span>
      </a>

      <a href="../role-training.html" class="quickLinkCard">
        <div class="quickIcon">🚒</div>
        <span data-key="roleFireServices">Role of Fire Services</span>
      </a>

      <a href="../right-to-information.html" class="quickLinkCard">
        <div class="quickIcon">ℹ️</div>
        <span data-key="rightToInformation">Right To Information</span>
      </a>

      <a href="../SFAC.html" class="quickLinkCard">
        <div class="quickIcon">🛡️</div>
        <span data-key="sfac">SFAC</span>
      </a>

      <a href="../technical-specifications.html" class="quickLinkCard">
        <div class="quickIcon">⚙️</div>
        <span data-key="technicalSpecification">Technical Specification</span>
      </a>

      <a href="../tenders.html" class="quickLinkCard">
        <div class="quickIcon">📄</div>
        <span data-key="tenders">Tenders</span>
      </a>
    </div>
  </div>
</section>
