<!-- FLOATING SOCIAL BAR -->

<div class="social_floating_bar">
  <!-- FACEBOOK -->

  <a
    href="https://www.facebook.com/profile.php?id=100083343460864"
    target="_blank"
    class="social_icon"
    aria-label="Facebook"
  >
    <img src="../assets/logos/facebook logo.png" alt="Facebook" />
  </a>

  <!-- INSTAGRAM -->

  <a
    href="https://www.instagram.com/maharashtra_fire_servies_off/"
    target="_blank"
    class="social_icon"
    aria-label="Instagram"
  >
    <img src="../assets/logos/insta logo.png" alt="Instagram" />
  </a>

  <!-- TWITTER -->

  <a
    href="https://twitter.com/FireServies"
    target="_blank"
    class="social_icon"
    aria-label="X"
  >
    <img src="../assets/logos/X_logo.jpg" alt="X" />
  </a>

  <!-- YOUTUBE -->

  <a
    href="https://www.youtube.com/watch?v=DeQDQgiF5AI&t=35s"
    target="_blank"
    class="social_icon"
    aria-label="YouTube"
  >
    <img src="../assets/logos/yt_icon_red_digital.png" alt="YouTube" />
  </a>
</div>
