<section class="minutesSection">
  <div class="minutesContainer">
    <div class="minutesHeader">
      <h1 data-key="techSpecsHeading">Technical Specifications</h1>

      <p data-key="techSpecsSubtitle">
        Download official Technical Specifications issued by the Directorate of
        Maharashtra Fire Services.
      </p>
    </div>

    <div class="minutesList">
      <!-- Card -->

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Approved specs for Fire Tender various capacities 28.03.22</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/Approved specs for Fire Tender various capacities 28.03.22.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Approved specs for QRV</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/Approved_specs_for_QRV.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Approved TTL-55 Mtrs</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/03. Approved TTL-55 Mtrs.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Approved Specs for Rescue Tender</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/04. Approved Specs for Rescue Tender.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Technical Specification HP ALP - 55M 14.03.26</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/05. Technical Specification HP ALP - 55M 14.03.26.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Approved Specs for 35 Ton Water Cannon</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/06. Approved Specs for 35 Ton Water Cannon.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Approved below 7 ton 22.06.22</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/07.Approved below 7 ton 22.06.22.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Corrigendum for HP</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/08. Corrigendum for HP.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>70M ALP HP final 09-12-2025</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/09. 70M ALP HP final 09-12-2025.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>
            Specification for fire engine with rescue equipments on 18.5 Ton
            chassis
          </h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/10.Specification for fire engine with rescue equipments on 18.5 Ton  chassis.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Approved specification for mini rescue tender</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/11. approved specificatio for mini rescue tender.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Specs for 16 ton 4500ltr</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/12.specs for 16 ton 4500ltr.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Water Mist Bike</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/13.Water Mist Bike.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Specification for HRFFV-200m for High Rise</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/14. Specification for HRFFV-200m for High Rise.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Tech Specs for ALP-28M</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/15.Tech Specs for ALP-28M.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Technical Specification for Robot</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/tech-specs/16. Technical Specification for Robot.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>
    </div>
  </div>
</section>
