<section class="minutesSection">
  <div class="minutesContainer">
    <div class="minutesHeader">
      <h1 data-key="schemeHeading">Welfare Schemes</h1>

      <p data-key="schemeSubtitle">
        Browse and download official welfare schemes, financial assistance
        programs and benefits available for Maharashtra Fire Services personnel
        and their families.
      </p>
    </div>

    <div class="minutesList">
      <!-- Card -->

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3 data-key="schemeHeading">Welfare Schemes</h3>

          <span data-key="schemeLanguage"> English </span>
        </div>

        <a
          href="../../assets/docs/welfare-schemes/Welfare Scheme.pdf"
          download
          data-key="downloadBtn"
          class="downloadBtn"
        >
          Download
        </a>
      </div>
    </div>
  </div>
</section>
