<section class="minutesSection">
  <div class="minutesContainer">
    <div class="minutesHeader">
      <h1 data-key="minutesHeading">Welfare Schemes</h1>

      <p data-key="minutesSubtitle">
        Download official General Body Meeting (GBM) minutes issued by the
        Maharashtra Fire Services Personnel Welfare Association.
      </p>
    </div>

    <div class="minutesList">
      <!-- Card -->

      <div class="minuteCard">
        <div class="minuteIcon">📄</div>

        <div class="minuteContent">
          <h3>Welfare Scheme</h3>

          <span> English </span>
        </div>

        <a
          href="../../assets/docs/welfare-schemes/Welfare Scheme.pdf"
          download
          class="downloadBtn"
        >
          Download
        </a>
      </div>
    </div>
  </div>
</section>
