<!-- gallery_fire_engines_comp.html -->
<section class="gallerySection">
  <div class="galleryContainer">
    <div class="galleryHeader">
      <h1 data-key="fireEnginesHeading">Welfare Events Photos</h1>
      <p data-key="fireEnginesSubheading">
        Explore the fleet of Maharashtra Fire & Emergency Services.
      </p>
    </div>

    <div class="accordion active">
      <button class="accordionBtn">Welfare Events (2011)<span>+</span></button>
      <div class="accordionContent">
        <div class="imageGrid">
          <img
            src="../../assets/images/welfare-events/img_01.jpg"
            alt="New Engine 1"
          />
          <img
            src="../../assets/images/welfare-events/img_02.jpg"
            alt="New Engine 2"
          />
          <img
            src="../../assets/images/welfare-events/img_03.jpg"
            alt="New Engine 3"
          />
          <img
            src="../../assets/images/welfare-events/img_04.jpg"
            alt="New Engine 4"
          />
          <img
            src="../../assets/images/welfare-events/img_05.jpg"
            alt="New Engine 5"
          />
          <img
            src="../../assets/images/welfare-events/img_06.jpg"
            alt="New Engine 6"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="galleryModal">
    <span class="closeModal">&times;</span>
    <button class="prevImage">&#10094;</button>
    <img class="modalImage" />
    <button class="nextImage">&#10095;</button>
    <div class="imageCounter"></div>
  </div>
</section>
