.fireWeekSection{

padding:70px 20px;

background:var(--color-bg-primary);

}

.fireWeekContainer{

max-width:1200px;

margin:auto;

}

.fireWeekHeader{

text-align:center;

margin-bottom:50px;

}

.fireWeekHeader h1{

font-size:var(--fs-h2);

color:var(--color-text-primary);

margin-bottom:15px;

}

.fireWeekHeader p{

max-width:700px;

margin:auto;

color:var(--color-text-secondary);

line-height:1.8;

}


/* DOWNLOAD CARD */

.downloadCard{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px;

background:var(--color-bg-secondary);

border-radius:15px;

border:1px solid var(--color-border);

margin-bottom:35px;

gap:20px;

flex-wrap:wrap;

}

.downloadLeft{

display:flex;

align-items:center;

gap:20px;

}

.pdfIcon{

font-size:40px;

}

.downloadBtn{

padding:12px 24px;

background:var(--color-primary);

color:#fff;

text-decoration:none;

border-radius:8px;

font-weight:600;

transition:.3s;

}

.downloadBtn:hover{

background:var(--color-secondary);

}


/* ACCORDION */

.fireAccordion{

border:1px solid var(--color-border);

border-radius:14px;

overflow:hidden;

margin-bottom:20px;

background:var(--color-bg-secondary);

}

.fireAccordionBtn{

width:100%;

padding:20px 25px;

display:flex;

justify-content:space-between;

align-items:center;

font-size:1.2rem;

cursor:pointer;

border:none;

background:none;

color:var(--color-text-primary);

font-weight:600;

}

.fireAccordionContent{

max-height:0;

overflow:hidden;

transition:.4s;

}

.fireAccordion.active .fireAccordionContent{

max-height:2500px;

padding:25px;

}


/* GALLERY */

.fireGallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

.fireGallery img{

width:100%;

height:230px;

object-fit:cover;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.fireGallery img:hover{

transform:scale(1.04);

}


/* MODAL */

.galleryModal{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.9);

display:none;

justify-content:center;

align-items:center;

z-index:99999;

}

.galleryModal.active{

display:flex;

}

.modalImage{

max-width:85%;

max-height:85%;

border-radius:10px;

}

.closeModal{

position:absolute;

top:25px;

right:40px;

font-size:42px;

cursor:pointer;

color:#fff;

}

.prevImage,

.nextImage{

position:absolute;

top:50%;

transform:translateY(-50%);

font-size:50px;

background:none;

border:none;

cursor:pointer;

color:white;

}

.prevImage{

left:30px;

}

.nextImage{

right:30px;

}

.imageCounter{

position:absolute;

bottom:35px;

color:#fff;

font-size:18px;

}


@media(max-width:768px){

.downloadCard{

flex-direction:column;

align-items:flex-start;

}

.fireGallery{

grid-template-columns:1fr;

}

.fireGallery img{

height:220px;

}

.prevImage,

.nextImage{

font-size:35px;

}

.closeModal{

font-size:34px;

}

}